Source: snes9x-gtk
Section: non-free/games
Priority: optional
Maintainer: Brandon Wright <bearoso@gmail.com>
Uploaders: Ximin Luo <infinity0@debian.org>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 5.0), automake, autotools-dev, intltool (>= 0.37.0), libgl1-mesa-dev | libgl-dev, libglade2-dev, libgtk2.0-dev (>= 2.12.9), libpng-dev, libsdl1.2-dev, libx11-dev, libxext-dev, libxml2-dev, libxrandr-dev, libxtst-dev, libxv-dev, nasm (>=0.99.06), portaudio19-dev, zlib1g-dev, libpulse-dev

Package: snes9x-gtk
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: snes9x-common, snes9x-server, snes9x-fx, snes9x-svga, snes9x-opengl, snes9x-x
Description: A GTK port of the popular Snes9x Super Nintendo emulator
 http://code.google.com/p/snes9x-gtk/
